#img{
    height: 60px;
  width: 60px;
  position: relative;
  top: 60px;
margin-left: 50%;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
  }
  table{
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
  }
  p{
    margin-left:20%;
    font-family: 'Fascinate Inline', cursive;
    font-size: 20px;
  }
.page{
      background-image: URL(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVPSZb0Y0mm0oS3hHJarpTj7bd4dzJbMfZhkGgEAPPMWLO_U-bVQ)
  }
  table{
    position: relative;
    top: 60%;
    font-family: 'Fascinate Inline', cursive;
  }
  #table {
    padding: 100px;
    border-radius: 10px;
  }
  tr{
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
  }
   td{
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  form {
    position: relative;
    top: 60px;
  }