<!-- <ng-progress></ng-progress> -->

<body>
<div class="container-fluid">
    <img src="http://stylus-lang.com/img/octocat.svg" alt="git image" id="img">
    <h4 id="name">GITHUB SEARCH</h4>
    <h6><a href="https://github.com" target="_blank">SIGN UP</a></h6>

    <nav>
      <ul>
        <li><a class="navbar-brand" href="#">Home</a></li>
        <li><a routerLink='/search' routerLinkActive='active'>Search Repository</a></li>
      </ul>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="form-group">
      <form>
        <p>Search a username</p>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <div id="control">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" [(ngModel)]="username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div>
        </div>
        <button class="btn btn-outline-primary btn-sm" name="username" (click)="searchUser()"> Search </button>
        <br>
        <p>Search results </p>
        <img class="profile-img img-thumbnail" src="{{user.avatar_url}}">
        <div id="table">
          <table>
            <tr>
              <td>id</td>
              <td>{{user.login}}</td>
            </tr>
            <tr>
              <td>Username</td>
              <td>{{user.name}}</td>
            </tr>
            <tr>
              <td>No of followers</td>
              <td>{{user.followers}}</td>
            </tr>
            <tr>
              <td>No of following</td>
              <td>{{user.following}}</td>
            </tr>
            <tr>
              <td>Bio</td>
              <td>{{user.bio}}</td>
            </tr>
            <tr>
              <td>No of repositories</td>
              <td>{{user.public_repos}}</td>
            </tr>
            <tr>
              <td>Created on the</td>
              <td>{{user.created_at}}</td>
            </tr>
          </table>
    
          <br>
          <p id="repo"><a routerLink='/search' routerLinkActive='active'>Repositories</a></p>

        </div>

      </form>
    </div>



  </div>

</body>
<router-outlet></router-outlet>